.banner{
  padding: 44px 0 75px;
  &__img{
    border-radius: 2px;
    width: 100%;
    height: 100%;
  }
  &__mySwiper{
    width: 50%;
    height: 266px;
  }
  &__row{
    display: flex;
  }
  &__info{
    //border-radius: 2px;
    background: url("../assets/oboy.jpeg") center/cover no-repeat;
    padding: 18px 32px 0;
    width: 36%;
    height: 266px;
    margin-right: 70px;
    //background: #282828;
    &-nav{
      padding: 5px 32px;
      backdrop-filter: blur(5px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    }
    &-title{
      font-weight: 600;
      color: white;
      font-size: 18px;
      span{
        font-size: 25px;
        font-weight: 700;
      }
    }
    &-text{
      color: white;
      margin: 15px 0 50px;
      font-weight: 300;
      font-size: 15px;
      line-height: 140%;
    }
    &-link{
      //background: #9c9c9c;
      color: white;
      font-weight: 600;
      //padding: 8px 25px;
      //border-radius: 2px;
    }
  }
}

