.card{
  width: calc(25% - 22.5px);
  border-radius: 5px;
  background: white;
  &__nav{
    &-info{
      padding: 8px 0;
      background: #282828;
    }
  }
  &__title{
    font-size: 22px;
    text-align: center;
    color: #9c9c9c;
    font-weight: 700;
  }
  &__subtitle{
    font-size: 18px;
    color: #282828;
    margin: 10px 0;
  }
  &__money{
    font-size: 20px;
    color: #9c9c9c;
    text-align: center;
  }
  &__moneys{
    display: flex;
    align-items: center;
    column-gap: 25px;
    justify-content: center;
    margin-top: 5px;
    span{
      cursor: pointer;
      color: #9c9c9c;
      &:hover{
        transform: scale(1.4);
      }
    }
  }
  &__boxes{
    display: flex;
    justify-content: space-between;
  }
  &__fav{
    background: #282828;
    cursor: pointer;
    color: white;
    padding: 2px 12px;
    max-width: 80%;
    margin: 10px auto;
    border-radius: 25px;
  }
  &__img{
    padding: 7px 35px 15px;
    margin-top: 22px;
    border-radius: 3px;
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }
  &__lines{
    display: flex;
    justify-content: center;
    margin: 15px 0 8px;
    &-line{
      width: 100%;
      height: 3px;
      background: #282828;
      border-radius: 10px;
    }
  }
  &__box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
      font-size: 12px;
      color: #282828;
      font-weight: 300;
      margin-bottom: 5px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #282828;
        top: 17px;
      }
    }
    &-text{
      font-size: 16px;
      color: #282828;
      font-weight: 500;
    }
  }
  &__block{
    display: flex;
    justify-content: space-between;
  }
  &__btn{
    background: #282828;
    color: white;
    width: 100%;
    padding: 9px 0;
    font-weight: 500;
  }
  &__sizes{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    &-btn{
      padding: 1px 20px;
      font-weight: 500;
      font-size: 25px;
    }
  }
}