.checkout{
  padding: 20px 0;
  &__title{
    font-weight: 700;
    font-size: 22px;
    margin-top: 15px;
  }
  &__link{
    display: flex;
    align-items: center;
    column-gap: 8px;
    span{
      margin-top: 5px;
      font-size: 22px;
    }
    &-text2{
      font-size: 15px;
      color: black;
    }
    &-text{
      font-size: 15px;
      background: #282828;
      padding: 4px 12px;
      border-radius: 3px;
      color: white;
      font-weight: 500;
    }
    //&-line{
    //  width: 25px;
    //  height: 1px;
    //  background: black;
    //}
  }
  &__form{
    &-nav{
      display: flex;
      justify-content: space-between;
    }
    &-left{
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
    &-right{
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: 42%;
    }
    &-top{
      background: #282828;
      display: flex;
      flex-direction: column;
      row-gap: 26px;
      padding: 10px 36px 32px;
    }
    &-field{
      padding-bottom: 3px;
      border-bottom: #9c9c9c solid 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-icon{
      color: #9c9c9c;
    }
    &-input{
      background: transparent;
      border: none;
      outline: none;
      color: white;
      width: 85%;
      font-size: 20px;
      &::placeholder{
        color: #9c9c9c;
      }
    }
    &-title{
      background: #9c9c9c;
      max-width: max-content;
      padding: 4px 25px;
      color: #282828;
      font-weight: 700;
      border-radius: 5px;
      font-size: 19px;
      margin: 12px 0 25px;
    }
    &-bottom{
      margin-top: 95px;
      background: #282828;
      display: flex;
      flex-direction: column;
      row-gap: 26px;
      padding: 10px 36px 32px;
    }
    &-btn{
      margin-top: 12px;
      padding: 12px 0;
      background: darkcyan;
      color: white;
      border-radius: 25px;
      font-size: 18px;
    }
  }
  &__card{
    background: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
    padding: 8px;
    justify-content: space-between;
    &-img{
      width: 150px;
      height: 100%;
    }
    &-title{
      margin-left: 32px;
      font-size: 20px;
      color: white;
      font-weight: 700;
    }
    &-price{
      font-size: 16px;
      color: #9c9c9c;
      margin: 18px 0 15px 64px;
      display: flex;
      align-items: end;
      column-gap: 12px;
      span{
        font-size: 20px;
        color: white;
      }
    }
    &-subtitle{
      margin-left: 32px;
      max-width: max-content;
      font-size: 17px;
      display: flex;
      align-items: end;
      column-gap: 15px;
      color: #9c9c9c;
      span{
        color: white;
        font-size: 20px;
      }
    }
    &-info{
      width: 70%;
      padding: 20px 0 0 8px;
      border-radius: 3px;
      height: 100%;
      background: #282828;
    }
  }
  &__block{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;
    background: #282828;
    &-title{
      font-size: 15px;
      color: white;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      column-gap: 12px;
      span{
        font-weight: 700;
        color: cornflowerblue;
      }
    }
  }
  &__popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: brown;
    padding: 40px 60px;
    border-radius: 5px;
    border: #82211b solid 15px;
    &-title{
      color: white;
      font-size: 21px;
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    &-naves{
      width: 52%;
    }
  }
  &__box{
    background: #282828;
    padding: 12px 32px;
    &-title{
      font-size: 20px;
      color: #9c9c9c;
      text-align: center;
    }
    &-line{
      margin: 5px 0;
      width: 100%;
      height: 2px;
      background: cornflowerblue;
    }
    &-text{
      color: #9c9c9c;
      font-size: 22px;
      font-weight: 700;
      display: flex;
      align-items: center;
      column-gap: 12px;
      justify-content: center;
      span{
        font-size: 18px;
      }
    }
  }
}


























