.favorites{
  margin-bottom: 350px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  &__favorites2{
    padding-top: 15px;
  }
  &__subtitle{
    margin-top: 150px;
    color: #9c9c9c;
    padding: 12px 42px;
    background: #282828;
    font-size: 20px;
    border-radius: 2px;
  }
  &__btn{
    display: flex;
    justify-content: center;
    margin: 32px 0 50px;
  }
  &__title{
    cursor: text;
    padding: 10px 55px;
    border-radius: 2px;
    color: #7b7b7b;
    background: #282828;
  }
  &__menu{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 32px;
    &-num{
      background: #282828;
      padding: 5px 18px;
      border-radius: 2px;
      color: #7b7b7b;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
  }
}