.form{
  padding: 30px 50px;
  height: 100vh;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
      color: #282828;
      font-size: 25px;
      font-weight: 700;
    }
    &-text{
      color: #282828;
      font-size: 16px;
      margin: 20px 0;
      line-height: 120%;
    }
    &-link{
      color: black;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 95%;
        height: 2px;
        background: black;
        top: 22px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-nav{
      width: 40%;
    }
  }
  &__label{
    &-text{
      color: #282828;
      font-size: 17px;
      font-weight: 500;
    }
    &-field{
      margin-bottom: 15px;
      margin-top: 12px;
      display: flex;
      column-gap: 10px;
      align-items: center;
      border-bottom: 2px solid #282828;
      width: 90%;
      padding-bottom: 3px;
    }
    &-input{
      width: 90%;
      border: none;
      outline: none;
      background: transparent;
      font-size: 18px;
      color: #282828;
    }
  }
  &__btn{
    width: 90%;
    padding: 15px 0;
    border-radius: 32px;
    background: #282828;
    box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 32px;
  }
}