.form{
  padding: 36px 0 25px;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
      text-align: center;
      color: cornflowerblue;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    &-text{
      color: #9c9c9c;
      font-size: 16px;
      margin-top: 45px;
    }
    &-link{
      color: #9c9c9c;
      font-size: 16px;
      font-weight: 700;
    }
    &-nav{
      border-radius: 15px;
      margin-top: 65px;
      background: #282828;
      padding: 32px 44px 15px;
      width: 50%;
    }
    &-nav2{
      border-radius: 15px;
      background: #282828;
      padding: 15px 44px;
      width: 50%;
    }
  }
  &__label{
    &-text{
      color: white;
      font-size: 17px;
      font-weight: 500;
    }
    &-field{
      span{
        color: #9c9c9c;
      }
      margin-bottom: 15px;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #9c9c9c;
      width: 100%;
      padding-bottom: 3px;
    }
    &-input{
      width: 90%;
      border: none;
      outline: none;
      background: transparent;
      font-size: 18px;
      color: #9c9c9c;
    }
    &-icon{
      cursor: pointer;
    }
  }
  &__btn{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background: cornflowerblue;
    box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.25);
    color: #282828;
    font-size: 22px;
    font-weight: 600;
    margin-top: 32px;
  }
}