.header{
  background: #282828;
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 2;
  &__link{
    display: flex;
    font-size: 32px;
    background: #9c9c9c;
    color: #282828;
    font-weight: 500;
    width: 80px;
    border-radius: 8px;
  }
  &__menu{
    display: flex;
    column-gap: 25px;
    row-gap: 7px;
    margin-left: 32px;
    margin-right: auto;
    &-link{
      font-size: 18px;
      color: #9c9c9c;
      font-weight: 500;
      &:hover{
        color: white;
      }
    }
  }
  &__icons{
    display: flex;
    align-items: center;
    column-gap: 10px;
    &-icon{
      color: #9c9c9c;
      font-size: 23px;
      &:hover{
        color: white;
      }
    }
    &-icon2{
      color: #9c9c9c;
      font-size: 25px;
      &:hover{
        color: white;
      }
    }
    &-icon3{
      color: #9c9c9c;
      font-size: 27px;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
    &-span{
      color: white;
      cursor: pointer;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
  }
}