.hitSale{
  margin-top: 15px;
  margin-bottom: 55px;
  &__box{
    display: flex;
    justify-content: center;
  }
  &__title{
    text-align: center;
    color: #282828;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    //position: relative;
    //&::before{
    //  content: '';
    //  position: absolute;
    //  width: 132%;
    //  height: 1px;
    //  left: 50%;
    //  transform: translateX(-50%);
    //  top: 30px;
    //  background: #9c9c9c;
    //}
  }
  &__line{
    width: 180px;
    height: 3px;
    margin: 3px 0 30px;
    border-radius: 15px;
    background: black;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}